<div class="signup-background">
  <div class="signup-container">
    <div class="signup-card">
      <div class="signup-card-header">
        <h2>Forgot Password</h2>
      </div>
      <div class="signup-card-body">
        <form>
          <div class="form-group">
            <input
              type="email"
              [(ngModel)]="email"
              class="form-control"
              placeholder="Email"
              name="email"
            />
          </div>

          <div class="row">
            I
            <div class="col-md-6 offset-md-3 text-center">
              <button class="btn btn-primary btn-block" (click)="forgotpass()">
                Send Link
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="signup-card-footer">
        <a routerLink="/login">Back To Login</a>
      </div>
    </div>
  </div>
</div>
